*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}
.content {
    flex: 1;
    max-width: 100%;
    width: 100%;
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* เริ่ม ส่วนของ sidebar */
.sidebar {
    background-color: #A29BFE;
    width: 26vh;
    max-width: 25vh;
    transition: all 0.35s ease-in-out;

}
.sidebar.collapseCustom {
    width: 7vh;
}

.sidebar.collapseCustom .sidebar-logo{
    height: 15vh;
}
.sidebar.collapseCustom a.sidebar-link .text-sideBar {
    opacity: 0;
    }
.sidebar a.sidebar-link .text-sideBar{

    position:absolute;
    opacity: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition:opacity 0.35s ease;
}

.sidebar .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    max-height: 15vh;
}

.sidebar .sidebar-logo a img.img-logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    transition:all 0.35s ease-in-out;
}
.sidebar .sidebar-menu {
    height: auto;
}
.sidebar-nav {
    padding-left: 0;
}
.sidebar .sidebar-item {
    background-color: #C0BBFF;
}
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 1rem;
}

.list-unstyled {
    padding-left: 10% !important;
}
a.sidebar-link:hover{
    background-color: #5c4ae6;
    color:#ffffff;
}
a.sidebar-link.active{
    background-color: #5c4ae6;
    color:#ffffff;
}
ul.sidebar-dropdown a.sidebar-link.active{
    background-color: #8679eb;
    color:#ffffff;
}

/*สิ้นสุด ส่วนของ sidebar */

.form-group.row>div {
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.badge {
    font-size: 16px !important;
    font-weight: 400 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bg-grayCustom{
    background:#e4e4e4
}
.tab-content{
    padding-left: 0% !important;
}
table.table-bordered {
    border:1px solid #c7c7c7;
  }
.badge.bg-warning{
    color: #000000 !important;
}
