*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}
.content {
    flex: 1;
    max-width: 100%;
    width: 100%;
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}
/* ส่วนของ sidebar */
.sidebar {
    background-color: #A29BFE;
    max-width: 264px;
    transition: width 0.3s ease;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}
.sidebar.collapseCustom {
    transition: width 0.3s ease;
    width: 64px ;
 }
.sidebar .sidebar-logo {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 1.15rem 1.5rem;
}

.sidebar .sidebar-logo .img-logo {
    width: 150%; /* Set width to 150% for enlargement */
    max-width: none;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: translateX(-15%); /* Adjust the horizontal positioning */
}
.sidebar-nav {
    padding: 0;
}
.sidebar .sidebar-item {
    background-color: #C0BBFF;
}
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 1rem;
}

.list-unstyled {
    padding-left: 10% !important;
}

.sidebar.collapseCustom a.sidebar-link .text-sideBar {
    display: none;
}
.sidebar.collapseCustom img.img-logo {
    display: none;
}
.sidebar.collapseCustom .sidebar-logo{
    height: 162.75px;
}

/* ส่วนของ sidebar */

.form-group.row>div {
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.badge {
    font-size: 16px !important;
    font-weight: 400 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
